# ==============================================================================
# 1. DATABASE CONFIGURATION (PostgreSQL)
# ==============================================================================

# OPSI A: Production di Server VPS (Docker Internal Network)
DATABASE_URL=postgresql://postgres:your_password@postgres:5432/guild-management

# OPSI B: Development di Laptop Lokal (PostgreSQL via Docker)
# DATABASE_URL=postgresql://postgres:your_password@localhost:5432/guild-management

# OPSI C: Cloud Database Eksternal (Supabase Pooler)
# DATABASE_URL=postgresql://postgres.xxxx:your_password@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres

# Konfigurasi Container PostgreSQL (Dibaca oleh docker-compose):
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=guild-management
POSTGRES_PORT=5432


# ==============================================================================
# 2. AUTHENTICATION & SECURITY
# ==============================================================================

# Kunci rahasia untuk menandatangani JWT Session (Ganti dengan string acak yang kuat)
AUTH_SECRET=generate_random_secret_minimum_32_characters_here

# (Opsional) Atur ke 'true' jika website sudah menggunakan domain HTTPS / SSL
# Biarkan 'false' jika masih diakses via IP langsung (HTTP)
COOKIE_SECURE=false


# ==============================================================================
# 3. BOT PROTECTION (Cloudflare Turnstile)
# ==============================================================================
NEXT_PUBLIC_TURNSTILE_SITE_KEY=0x4AAAAAAExaPStQd4JelF3J
TURNSTILE_SECRET_KEY=0x4AAAAAAExaPaawL7yEQrXvtMRHQY0J1qc

